#para{
	color: orange;
	font-size: 1.5em;
}
.brand-logo{
	color: #90caf9;
}
.newData{
	display: block;
	padding-top: 10px;
	border: 2px solid white;
}
h1{
	color: red;
}
h5{
	font-size: 1.5em;
	color: red;
}
#box{
	color: black;
	border: 1px solid orange;
	border-width: 3px;
	margin-left: 15px;
}
.logo{
	text-align: center;
	font-size: 4.5em;
	font-weight: 100;
}
a:hover{
	color: white;
	text-decoration: none;
}
#selected{
	color: black;
	border: 1px solid orange;
	border-width: 3px;
	margin-left: 20px;
}


#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}